body{
  background-color: black;
}
*{
  padding: 0;
  margin: 0;
  color: chartreuse;
  background-color: 0;
}
input{
  background-color: black;
  padding: 3px;
  margin: 3px;
  border: 1px solid chartreuse;
}
button{
  background-color: black;
  border: 3px solid chartreuse;
  padding:1%;
  margin:5%;
  font-size: 15px;
}
button:hover{
  border: 1px solid chartreuse;
}
.player{
  text-align: center;
  color:chartreuse;
}
.first{
  float: left;
  display: inline-block;
}
.second{
  float: right;
  display: inline-block;
}
.board{
  position: absolute;
  top:30%;
  left:15%;
  width: 70%;
  height:40%;
  text-align: center;
}
/*number of players buttons*/
.players{
  font-size: 20px;
  margin:2%;
}
.name{
  display: block;
  font-size: 18px;
  position: relative;
  margin: 4%;
}
.pChoice{
  margin:2%;
  display: block;
}
.board-row{
  display: block;
  width:100%;
  margin:-2px;
}
.square{
  font-size: 240%;
  display: inline-block;
  height:1em;
  width:7%;
  padding:2%;
}
.top{
  border-bottom: 4px solid chartreuse;
}
.center{
  border-top: 4px solid chartreuse;
  border-bottom: 4px solid chartreuse;
}
.bottom{
  border-top: 4px solid chartreuse;
}
.middle{
  border-left: 3px solid chartreuse;
  border-right: 3px solid chartreuse;
}
.left{
  border-right: 3px solid chartreuse;
}
.right{
  border-left: 3px solid chartreuse;
}
.winrar{
  display:block;
  text-align: center;
}
#restart{
  text-align: center;
  display: block;
}
@media (max-width: 500px){
  .square{
    width:4%;
    font-size:130%;
    padding-right: 2%;
  }
}
